priority 0

snippet ns "namespace .." b
namespace ${1} {
${VISUAL}$0
}  // namespace $1
endsnippet

snippet ans "anonymous namespace .." b
namespace {
${VISUAL}$0
}  // anonymous namespace
endsnippet

snippet cr
const ${1:std::string}&
endsnippet
