snippet #!!
#!/usr/bin/env python2
# (╯°□°）╯ ┻━┻  encoding: utf-8 ┬─┬ ノ( ゜-゜ノ)
endsnippet

snippet #!!!
#!/usr/bin/env python3
# (╯°□°）╯ ┻━┻  encoding: utf-8 ┬─┬ ノ( ゜-゜ノ)
endsnippet

snippet enc
# (╯°□°）╯ ┻━┻  encoding: utf-8 ┬─┬ ノ( ゜-゜ノ)
endsnippet
